.locations {
    margin-top: 3rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;

    .list-actions {
        display: flex;
        margin-bottom: 4rem;
        justify-content: center;

        .action {
            display: flex;
            margin-right: 4rem;

            &__lbl {
                margin-right: 1rem;
                font-weight: bold;
            }

            &__txt {
                outline: none;
                padding-left: 0.5rem;

                &::placeholder {
                    padding-left: 0.1rem;
                }
            }

            &-options {
                display: flex;

                .reset {
                    text-decoration: underline;
                }
            }

            &-lbl {
                margin-right: 1rem;
                cursor: pointer;
            }

            &-seperator {
                margin-right: 1rem;
            }
        }
    }

    .headings {
        width: 100%;
        display: flex;

        .header {
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #115293;
            font-weight: bold;
            text-transform: uppercase;

            &__border {
                width: 60%;
                border-bottom: solid 1px #1976d2;
            }
        }
    }
}
